@import "../../common/reset.min.css";
/*common*/
[v-cloak]{display: none}
img{ border:none;}
#app{ width:750px; height:100%; margin:0 auto;background: #fff}
#app .page-container{ width:100%; height:100%;overflow: visible}
#app .page-container .page-content{ width:100%; min-height:calc(100% + 1px)}
/*creater样式*/
#app .creater{ position: relative; height:823px;overflow:hidden;}
#app .creater .creater-bg {display: block; width:100%;}
#app .creater .creater-c { position: absolute; top:0; left:0; width:100%; height:100%}
#app .creater .creater-c .video-a{ height:727px; position: relative;}
#app .creater .creater-c .video-a .play-icon{ position: absolute; top:0; right:0; bottom: 0; left:0;z-index: 999; margin:auto;width:102px; height:104px;}
#app .creater .creater-c .video-a .loading{ position: absolute; top:50%; left:50%;z-index: 999; margin:-25px 0 0 -25px;width:50px; height:50px;}
#app .creater .creater-c .video-a .full-icon{ position: absolute; bottom:16px; right:200px;z-index: 999; width:48px; height:48px;}
#app .creater .creater-c .video-a .video{ position: absolute;left: 0;bottom: 0;width: 400px;top: 0;right: 0;margin: auto;}
#app .creater .creater-c .infos{width:100%;height:96px; padding:0 40px; color: #fff;}
#app .creater .creater-c .infos .info { height:100%;line-height: 96px}
#app .creater .creater-c .infos .info:first-of-type{ float: left;color: #fff; font-size: 26px}
#app .creater .creater-c .infos .info:nth-of-type(n+2){ float: right;color: #999; font-size: 24px}
#app .creater .creater-c .infos .info img{vertical-align: middle; margin-right: 10px}
#app .creater .creater-c .infos .info:nth-of-type(3) {margin-right: 40px}
#app .creater .creater-c .infos .info-1 .avator{ width:44px;height:44px;border-radius: 22px}
#app .creater .creater-c .infos .info span{vertical-align: middle; }
.info:after {content: "";display: inline-block;height:100%;vertical-align: middle; }
#app .creater .creater-c .video-a .full-screen{ width:100%;}

/*填写评论、点赞区域*/
#app .operation { padding:25px 40px; position: relative;}
#app .operation .input-radius{float: left;width: 530px; height: 78px;border-radius: 39px; border:1px solid #b9b8b8;background-color:#eaeaea;line-height: 50px;font-size: 30px; color: #575757; padding:13px 35px;outline: none}
#app .operation .star{float: right; width:118px; padding:11px 0; background-color: #f6f3f3;border-radius: 39px;}
#app .operation .star img{display: block; width:40px; height:35px; margin:0 auto;}
#app .operation .star span{display:block;font-size: 18px; color: #414141;text-align: center;line-height:1;margin-top: 4px}
/*弹出键盘*/
#app .operation .input-radius.active{height:175px;}
#app .operation .publish{ float: right;margin-bottom:16px;width:118px;height:78px; line-height: 78px; text-align: center;border-radius: 39px; color: #fff;font-size: 28px; background-color: #fe214f;}
#app .operation .tip-panel{ position: absolute; top:0; right:118px; bottom: 0; left:0;margin: auto; width:250px; height:40px; background-color: rgba(0,0,0,.6); color: #fff;text-align: center}


/*评论列表*/
#app .comments {background-color: #f7f7f7; padding:0 40px 85px;}
#app .comments ul{}
#app .comments ul .comment{ position: relative;}
#app .comments ul .comment .avator{ position: absolute; top:0; left:0; width:74px;padding-top: 35px;}
#app .comments ul .comment .avator img{ width:74px; height:74px;border-radius: 37px;}
#app .comments ul .comment .content-r{width:100%;padding-left: 102px;}
#app .comments ul .comment .content-r .content-t{line-height: 30px; padding:20px 0 12px;}
#app .comments ul .comment .content-r .content-b{font-size: 32px; color: #101010;line-height: 40px;padding-bottom: 20px; border-bottom:1px solid #d2d2d2;text-align: justify}
#app .comments ul .comment .content-r .content-t .nickname{float: left;font-size: 26px; color: #666666;}
#app .comments ul .comment .content-r .content-t .post-time{float: right; width:120px;}
#app .comments ul .comment .content-r .content-t .post-time img{ width:18px; height:18px;}
#app .comments ul .comment .content-r .content-t .post-time span{ color: #5d5d5d;font-size: 20px;}

/*广告*/
#app .ad { position: fixed; left:0;bottom: 0; width:750px; height:85px;background: url("../../imgs/icon-1-6.png") no-repeat;background-size: cover}
#app .ad .download{position: absolute; top:0; right:38px; width:157px; height:100%; }
#app .ad .close{position: absolute; top:5px; right:0;width:30px; height:30px;}

/*评论成功，点赞成功*/
.mask { position: fixed; top:0; right:0; bottom: 0; left:0;z-index: 999; background-color: rgba(0,0,0,.8);}
.mask .main {position: absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:543px; height:414px;}
.mask .main .download{position: absolute; bottom:0; right: 22px;width: 192px;height: 134px;}
.mask .main .close{position: absolute; top:12px; right:12px;width:50px; height:50px;}