<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=750, user-scalable=no">
  <title>个人主页</title>
</head>
<body>
<div id="app">
  <div class="page-container" ref="scrollContainer">
    <div class="page-content">
      <div class="userinfo" v-if="Object.keys(personalInfos).length > 0" v-cloak>
        <div class="main-1">
          <div class="t clearfix">
            <img class="avator" :src="personalInfos.user.headUrl | formatImg" alt="">
            <div class="follow" @click="linkToAppStore">+ 关注</div>
          </div>
          <div class="b clearfix">
            <div class="l">
              <span class="nickname">{{personalInfos.user.nickName}}</span>
              <div class="icon-bg">
                <img src="../../imgs/icon-2-2.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="main-2">
          <p>{{personalInfos.user.profile}}</p>
          <div>
            {{personalInfos.attentionUserCount}}<span> 关注</span>
            {{personalInfos.fansCount}}<span> 粉丝</span>
            {{personalInfos.receiveLikeCount}}<span> 赞</span>
          </div>
        </div>
      </div>
      <div class="videolists">
        <div class="tab">
          <div class="product-header" @click="toggleList(0)">
            <span class="inner" :class="{active:worksType === 0}" v-cloak>作品 {{personalInfos.worksCount}}</span>
          </div>
          <div class="like-header" @click="toggleList(1)">
            <span class="inner" :class="{active:worksType === 1}" v-cloak>喜欢 {{personalInfos.likeWorksCount}}</span>
          </div>
        </div>
        <div class="videos-container" v-if="itemList.length > 0" v-cloak>
          <ul class="videos-contents clearfix" @click.capture="linkToIndex">
            <li class="video-item" v-for="(item, index) in itemList" :key="item.id">
              <img class="poster" :src="item.worksPic.url | formatImg" :data-index="index">
              <div class="video-infos">
                <div class="plays">
                  <img src="../../imgs/icon-2-5.png" alt="">
                  <span>{{item.watchCount}}</span>
                </div>
                <div class="star">
                  <img src="../../imgs/icon-2-4.png" alt="">
                  <span>{{item.likeCount}}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>